@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --corPrincipal: #3d405b;
    --corContraste: #e07a5f;
    --corDeFundo: #f2cc8f;
    --fontPrincipal:'Righteous', cursive;;
    --fontSecundaria: 'Fira Code', monospace;

}

body, html, li, ul, ol, img, figure, p, h1, h2, h3, h4, h5, div, section, article{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    color: var(--corPrincipal);
    background-color: var(--corDeFundo);
    font-family: var(--fontPrincipal);
    max-width: fit-content;
    text-align: center;
}
h1{
    text-transform: uppercase;
    margin: 30px;
}
button:hover{
    color: var(--corContraste);
    background-color: var(--corPrincipal);
}

button{
    background-color: var(--corContraste);
    padding: 10px;
    font-family: var(--fontPrincipal);
    color: var(--corPrincipal);
    border: none;
    font-size: large;
    width: 150px;
    cursor: pointer;
}
ul.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card li:hover{
    border: var(--corPrincipal) solid 1px
}

.card li:selected{
    border: var(--corContraste) solid 2px
}
.card li{
    background-color: #f4f1de;
    color: var(--corContraste);
    border: 1px var(--corPrincipal) dashed;
    margin: auto;
    padding: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-radius: 80px;
    font-size: .75rem;


}

.card li img{
    width: 70px;
    cursor: pointer;
}
#instructions-list{
    padding: 5px;

}
ul#instructions-list{
    text-align: left;

}

#instructions-list li{
    max-width: fit-content;
    font-size: .8rem;

}

#instructions-list img{
    width: 30px;
}

.winner{
    border: 3px green solid;
    border-radius: 50%;
}

.loser{
    border: 3px red solid;
    border-radius: 50%;
}

.hidden{
    display: none  ;}
    
    .container{
        display: flex;
        justify-content: space-around;
        margin: 15px;

    }

    #result1, #result2{
        width: 50vw;

    }

    #result1 img, #result2 img{
        width: 20vw;

    }


@media screen and (min-width: 760px){
    body{
        max-width: none;
    }
    ul.card{
        justify-content: center;

    }
   .card li{
    font-size: 1.2rem;
    margin: 15px;
}
    .card li img{
        width: 150px;
    }

    #instructions-list img{
        flex-wrap: wrap;
        width: 100px;
    margin: auto;
}
#instructions-list li{
    margin: auto;
    max-width: 650px;
    font-size: 1rem;
}

}